<h1>API</h1>

<p><%= @user.to_json %></p>
<p><%= link_to "Acessar BoletoSimples", "http://sandbox.boletosimples.com.br/#{@user['login_url'].split('/')[3]}", target: "_blank" %></p>
<p><a href="/demo/new_billet?application_access_token=<%= @user['application_access_token'] %>">Criar boleto</a></p>