<h1>BoletoSimples API Demo</h1>
<p>Aplicação de testes da API do BoletoSimples</p>
<p><%= link_to "Criar usuario via API", demo_api_path %></p>
<p><%= link_to "Login com oAuth", "/auth/boletosimples" %></p>